target/
topic2_dataset/
output*
labs/.ipynb_checkpoint*
labs/topic0_daxpy/.ipynb_checkpoint*
labs/topic0_daxpy/daxpy
labs/topic0_daxpy/solutions/.ipynb_checkpoint*
labs/topic1_heat/.ipynb_checkpoint*
labs/topic1_heat/heat*
labs/topic1_heat/output*
labs/topic1_heat/solutions/.ipynb_checkpoint*
labs/topic2_tree/.ipynb_checkpoint*
labs/topic2_tree/tree*
labs/topic2_tree/*.txt
labs/topic2_tree/solutions/.ipynb_checkpoint*